.tag {
  background: rgba(109, 198, 130, 0.15);
  border-radius: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  /* identical to box height */
  text-align: center;

  /* typo/brand */
  color: #248742;
  padding: 0 12px;
}
