.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  padding: 24px;
  gap: 20px;
  position: relative;
}

.imgContainer {
  flex: 0 0 333px;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  margin-top: auto;
}


@media (max-width: 666px) {
  .card {
    flex-direction: column;
  }

  .button {
    margin: 24px auto 0;
  }

  .imgContainer {
    flex: 0 0 200px;
  }
}
