.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 32, 51, 0.6);

  margin-bottom: 4px;
}

.select {
  //width: 100%;

  :global {
    .ant-select-selection-item {
      background: rgba(109, 198, 130, 0.15);
      color: #248742;
    }
  }
}
